<h2>Ajouter un produit :</h2>
<form action="/inventory/create" method="POST">
    <div class="row mb-3">
        <label for="inputName" class="col-sm-2 col-form-label">Nom</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" name="inputName">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputThumbNail" class="col-sm-2 col-form-label">Lien de l'image</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputThumbNail" name="inputThumbNail">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputDesc" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputDesc" name="inputDesc">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPrice" class="col-sm-2 col-form-label">Prix</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputPrice" name="inputPrice">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputQuantity" class="col-sm-2 col-form-label">Quantité</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputQuantity" name="inputQuantity" value="<%= formData.quantity %>">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
</form>
<hr>