<!DOCTYPE html>
<html lang="fr" class="h-100">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main class="container">
        <!-- Completer la page A propos -->
        <h1 class="text-center">A propos</h1>
        <p>Crée en 2004, l'équipe compte aujourd'hui 14 salariés. L'organisation du magasin vient récemment d'évoluer avec une boucherie artisanale, un rayon traiteur comprenant un espace de vente de fromages, pains, pâtisserie et menus salée; un rayon cosmétiques et entretient Bio; le développement des formats économiques ainsi que les produits vendus en vrac dans le soucis de rendre la bio accessible à tous.
            <br>Aujourd'hui, plus de 100 producteurs locaux sont partenaires de la Biocoop Purpan.
            
            <br>Située à proximité de la Rocade, la Biocoop Purpan est facilement accessible pour les Toulousains du centre et Ouest Toulousain.
            
            <br>Particularités : deux bouchers professionnels, près de 400M2 de surface et donc un très large choix, des pains, fromages locaux.
            
            <br>Démarche écologique : pour être en cohérence avec l'écologie, la Biocoop vient de s'équiper de meubles ultra frais à porte soit 50 % d'économie d'énergie !! Le magasin a choisi de s'alimenter avec une énergie 100 % recyclable, en circuit court avec l'entreprise Energicop.
            <br>Recyclage : depuis des années, la Biocoop fait recycler ses emballages carton par un contrat spécifique avec un prestataire qui récupère les cartons deux fois par semaine. Mise en place récente de consigne de bouteilles, avec le groupe Consign up. Panier de légumes Phoenix, qui nous permettent de vendre à prix réduit des légumes et fruits abîmées ou mûr, mais toujours très bon à la consommation.</p>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>