<!DOCTYPE html>

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main class="container pb-5">
        <h1 class="text-center mt-3">Produits frais</h1>
        <h2>Liste des produits frais:</h2>
        <div class="row">
            <% freshproducts.forEach((freshproduct) => { %>
                <%if (freshproduct.dlc > 0) { %>
                    // Do something with more than 1 recipe
                    <% } %>
            <div class="card m-2 p-1 shadow-sm" style="width: 18rem;">
                <img src="<%= freshproduct.thumbnail_url %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="h5 card-title"><%= freshproduct.name %> 
                        <span class="badge bg-secondary"><%= freshproduct.price %> €</span>
                    </h3>
                    <p class="card-text"><%= freshproduct.info %><br><%= freshproduct.dlc %></p>
                    <% if(freshproduct.quantity > 0){ %>
                        <span class="badge bg-success">Disponible</span>
                    <% } else { %>
                        <span class="badge bg-danger">Indisponible</span>
                    <% } %>
                    
                </div>
            </div>
            <% }); %>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>