<!DOCTYPE html>

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main class="container pb-5">
        <!-- Completer la page Index -->
        <h1 class="text-center">Accueil</h1>
            <h2>Nos horaires d'ouverture :</h2>
            <p>Lundi : 09h30 / 18h00
                <br>Mardi : 09h30 / 18h00
                <br>Mercredi : 09h30 / 18h00
                <br>Jeudi : 09h30 / 18h00
                <br>Vendredi : 09h30 / 18h00
                <br>Samedi : 09h30 / 18h00
                <br>Dimanche : Fermé</p>
            <h2>Nos coordonnées :</h2>
            <p>301 avenue de Grande Bretagne - 31300 Toulouse
                <br>Coordonnée GPS : 43,6070418209904 ° , 1,39722255396729 °</p>
            <h2>Ouvertures exceptionnelles :</h2>
            <p>Nouveaux horaires d'ouvertures dues aux annonces gouvernementales ( couvre-feu à 18h):
                <br>À partir du 16/01/21 ouverture de 9h30 à 18h.
                <br>Magasin fermé pour les jours fériés et les dimanches.</p>
            <h2>Complément d'information de localisation :</h2>
            <p>Adresse Magasin Biocoop Purpan: 301 avenue Grande Bretagne 31300 Toulouse
                <br>Accès par le numéro 5 Rue Georges Vedel. Entrée du parking située entre le restaurant rapide "Ra Lemarijy" et le magasin "Vente Légumes Purpan". Parking privé.</p>
            <ul>Arrêt de bus Tisséo: 
                <li>Arrêt Pelletier Purpan, ligne 45, 46 et 63 en sortie de parking.</li>
                <li>Arrêt Hôpital Purpan à deux minutes à pied coté avenue de Grande Bretagne, ligne L2, 45 et 63.</li>
            </ul>
                        
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>